<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Greetings</title>
  </head>

  <body style="font-family: Arial, Helvetica, sans-serif">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="400px">
      <tr>
        <td style="padding: 30px 0 0 0; text-align: center; margin: auto 12px">
          <img src="https://pc.com/assets/logo-text-purple.png" alt="pc Logo" width="full" height="28px" />
        </td>
      </tr>
      <tr style="padding: 30px 0 0 0; text-align: center; margin: auto">
        <td>
          <p style="padding: 4px 16px 16px 20px; text-align: center; color: gray; font-size: small">Automated joining up of lab results for more accurate nutrition therapy and saving practitioners time</p>
        </td>
      </tr>
    </table>

    <h2 style="font-size: 24px; font-weight: 600; margin: 0; padding: 4px 16px 16px 20px; text-align: center">Welcome to the Private Beta</h2>

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="400px" style="border: 2px solid #eceef1; padding: 1px 16px; border-radius: 5px">
      <tr>
        <td align="center" bgcolor="#ffffff" style="text-align: start">
          <p style="font-size: 14px; line-height: 1.5em">We're thrilled that you would like to test our new service. Your perspective will help make the platform even better.</p>

          <p style="font-size: 14px; line-height: 1.5em">We'll drop you a line when we're ready to start testing.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size: 14px; line-height: 1.5em">The pc Team</p>
        </td>
      </tr>
    </table>
    <p style="text-align: center; padding-top: 30px; font-size: 12px">pc Ltd · United Kingdom</p>
  </body>
</html>
