<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Upload certificate</title>
  </head>

  <body style="font-family: Arial, Helvetica, sans-serif">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="400px">
      <tr>
        <td style="padding: 30px 0 0 0; text-align: center; margin: auto 12px">
          <img src="https://pc.com/assets/logo-text-purple.png" alt="pc Logo" width="full" height="28px" />
        </td>
      </tr>
      <tr style="padding: 30px 0 0 0; text-align: center; margin: auto">
        <td>
          <p style="padding: 4px 16px 16px 20px; text-align: center; color: gray; font-size: small">Automated joining up of lab results for more accurate nutrition therapy and saving practitioners time</p>
        </td>
      </tr>
    </table>

    <h2 style="font-size: 24px; font-weight: 600; margin: 0; padding: 4px 16px 16px 20px; text-align: center">Thank you for registering!</h2>

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="400px" style="border: 2px solid #eceef1; padding: 1px 16px; border-radius: 5px">
      <tr>
        <td>
          <p style="display: flex; align-items: center; justify-content: center; font-size: xx-small">
            Submit Form
            <span style="vertical-align: middle; padding: 0 6px">
              <img src="https://dev.pc.com/assets/step-complete.png" alt="Step complete" height="10" width="10" />
              <img src="https://dev.pc.com/assets/next-step.png" alt="Next Step" height="10" />
            </span>

            Confirm Email
            <span style="vertical-align: middle; padding: 0 6px">
              <img src="https://dev.pc.com/assets/step-complete.png" alt="Step complete" height="10" width="10" />
              <img src="https://dev.pc.com/assets/next-step.png" alt="Next Step" height="10" />
            </span>

            Upload Certificate
            <span style="vertical-align: middle; padding: 0 6px">
              <img src="https://dev.pc.com/assets/step-incomplete.png" alt="Step incomplete" height="10" width="10" />
              <img src="https://dev.pc.com/assets/next-step.png" alt="Next Step" height="10" />
            </span>

            Set Password
            <span style="vertical-align: middle; padding: 0 6px">
              <img src="https://dev.pc.com/assets/step-incomplete.png" alt="Step incomplete" height="10" width="10" />
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="#ffffff" style="text-align: start">
          <p style="font-size: 14px; line-height: 1.5em">Welcome to our Private Beta. We would like your feedback to make sure that we are meeting your needs. There are a couple more steps to complete your registration.</p>
          <p style="font-size: 14px; line-height: 1.5em">We offer a practitioner-only service. To confirm that you are a health practitioner, please verify your qualification - click the button below, or paste the following link into your browser:</p>
          <p style="font-size: 14px; line-height: 1.5em"><a href="<%= url %>" style="color: #531b93; text-decoration: none"> <%= url %> </a></p>
          <p style="font-size: 14px; line-height: 1.5em">If you think you shouldn’t have been sent this, <a href="support@pc.com" style="color: #531b93; text-decoration: none"> contact us</a>.</p>
        </td>
      </tr>
      <tr>
        <td align="center">
          <a style="font-size: 16px; font-weight: 600; background-color: #531b93; color: white; padding: 10px 20px; text-decoration: none; display: inline-block; border-radius: 10px; border: none" href="<%= url %>"> Upload Certificate </a>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size: 14px; line-height: 1.5em">The pc Team</p>
        </td>
      </tr>
    </table>
    <p style="text-align: center; padding-top: 30px; font-size: 12px">pc Ltd · United Kingdom</p>
  </body>
</html>
